<nav id="nav" onclick="">{{{faIcon "align-justify" "2x"}}}

<header>
<a class="version" href="{{relPath}}/" title="lodash"><img src="{{relPath}}/images/logo.png" alt="lodash">v{{option 'version'}}</a>
<a class="build" href="{{option 'github'}}" target="_blank">{{timestamp 'mmm d HH:MM:ss Z'}}</a>
</header>

<div id="search">
<form id="search-form" action="{{relPath}}/" method="GET">
<input type="search" name="q" id="q" placeholder="Type to search..." autocomplete="off">
<ul id="q-list" class="shadow"></ul>
</form>
</div>

<div id="toc">
<div id="tochead">{{{linkTo '/' 'Home'}}}</div>
{{{pageTree 'category' ''}}}
</div>

</nav>

<div id="main" onclick="">
<div id="content" class="markdown-body">
{{{renderPage}}}
</div>
</div>
