{{{html}}}
{{#eachEntrySortByName}}
<div class="quickref">{{{name}}}</div>
<div class="quickref-content">
  <div class="signature"><a href="{{pageHref}}">{{signature}}</a></div>
  {{{html}}}
</div>
{{/eachEntrySortByName}}
